body {
    background: url(./background.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 60%;
    height: 100vh;
    margin:0;
    padding:0;
}

.text {
    text-align: center;
    font-family: sans-serif;
    color: skyblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:0;
    margin:0;
    text-shadow: 1px 1px 1px black;
    line-height: 1;
    width: 100%;
}

span.strike {
    text-decoration: 2px solid line-through;
}

html {
    margin: 0;
    padding:0;
}

h1 {
    margin: 15px;
    font-size:3rem;
}
h2 {
    margin: 15px;
    font-size: 2rem;
}
h3 {
    margin: 15px;
    font-size: 1.7rem ;
}
h4{
    margin: 15px;
    font-size: 1.5rem;
}